<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Typicode</title>
</head>

<body>




    <div id="app">
        <h1>Liste des utilisateurs</h1>
        <p>Il y a {{users.length}} utilisateurs</p>


        <select v-on:change="displayUserData" v-model="userfocused">
            <option :value="0">Selectionnez un utilisateur</option>
            <option v-for="user of users" :value="user.id">{{user.name}}</option>
        </select>

        <user-display :users="users" :userfocused="userfocused"></user-display>

    </div>



</body>
<script src="/js/app.js"></script>

</html>